*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

.card-container {
  display: flex ;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.card {
  margin: 2%;
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
  padding: 16px;
}

.card-content h3 {
  font-size: 28px;
  margin-bottom: 8px;
}

.card-content p {
  color: #666;
  font-size: 15px;
}

.card-content .btn {
display: inline-block;
padding: 8px 16px;
background-color: #333;
border-radius: 4px;
margin-top: 12px;
}

.vote { 
  position: absolute;
  background: rgb(196, 196, 196);
  padding:10px;
  box-sizing: border-box;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}