*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}

body {
  background-color: #fafafa;
}


.main{
  padding: 15px;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);

}

@media (max-width: 330px) {
  .logo {
    width: 240px;
  }
}

@media (min-width: 330px) {
  .logo {
    width: 420px;
  }
}
